<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
		<link href="/site_media/CSS/default.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="/site_media/CSS/style.css" type="text/css" />
		<!--[if IE 6]>
		<link href="default_ie6.css" rel="stylesheet" type="text/css" />
		<![endif]-->
		{% block html_head %}{% endblock %}
	</head>
	<body>
		<div id="header-wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="/">OARS</a></h1>
				</div>
				<div id="menu">
					<ul>
						<li class="current_page_item"><a href="/" accesskey="1" title="">Home</a></li>
						{% if user.is_authenticated %}
							{% if user.user_type == 1 %}
							<li><a href="#" accesskey="2" title="">Registeration</a></li>
							<li><a href="/pre-reg/" accesskey="3" title="">Pre-Registeration</a></li>
							<li><a href="/gradesheet/" accesskey="4" title="">Gradesheet</a></li>
							{% endif %}
							{% if user.user_type == 2 %}
							<li><a href="/pre-reg-inr/" accesskey="3" title="">Pre-Registeration</a></li>
							{% endif %}
						{% endif %}
						<li><a href="/timetable/" accesskey="5" title="">Timetable</a></li>
						{% if user.is_authenticated %}
							<li><a href="/logout/" accesskey="6" title="">Logout</a></li>
						{% else %}
							<li><a href="/login/" accesskey="6" title="">Login</a></li>
						{% endif %}
<!--						<li><a href="#" accesskey="5" title="">Contact Us</a></li>-->
					</ul>
				</div>
			</div>
		</div>
		<div id="footer-wrapper">
				<div id="footer-content">
					<div id="fbox1">
						<h2><span>{% block fbox1_head %}{% endblock %}</span> </h2>
						{% block fbox1_content %}{% endblock %}
					</div>
					<div id="fbox2">
						<h2><span>{% block fbox2_head %}{% endblock %}</span></h2>
						{% block fbox2_content %}{% endblock %}
					</div>
				</div>
			</div>
			<div id="page-wrapper">
				<div id="page">
					<div id="content">
						<div>
							<h2>{% block fbox3_head %}{% endblock %}</h2>
							{% block fbox3_content %}{% endblock %}
						</div>
					</div>
					<div id="sidebar">
						{% block sidebar_content%}{% endblock %}
					</div>
				</div>
			</div>
			<h1>{% block head %}{% endblock %}</h1>
			{% block content %}{% endblock %}
			<div id="footer">
				{% block footer_content %}{% endblock %}
			</div>
		</body>
</html>

