{% extends "base.html" %}
{% block title %}Student Timetable{% endblock %}
{% block fbox1_head %}Timetable{% endblock %}
{% block fbox1_content %}
<table width="823">
	<tr>
		<td width="815"> 
			<font face="Arial, Helvetica, sans-serif" size="2" color="#003300"><i><strong><a href="/student_timetable/" title="">Student Timetable</a></strong></i></font></td>
	</tr>
	<tr>
		<td width="815"> 
			<font face="Arial, Helvetica, sans-serif" size="2" color="#003300"><i><strong><a href="/department_timetable/" title="">Department Timetable</a></strong></i></font></td>
	</tr> 
</table>
{% endblock %}
