{% extends "base.html" %}
{% block title %}OARS{% endblock %}
{% block fbox1_content %}Welcome to OARS{% endblock %}
{% block fbox2_content %}
	<table>
		<tr><td width="150">RollNo</td><td width="150">Name</td><td width="100">Course No</td><td width="200">Title</td><td width="100">Status</td><td width="100"></td><td width="100"></td></tr>
		{% for course in c_req %}
			<tr><td>{{course.student.roll_no}}</td><td>{{course.student}}</td><td>{{course.req_course.course.course_no}}</td><td>{{course.req_course.course.title}}</td><td>{{course.status}}</td>
			{% if course.status == "WAITING" %}
				<td><a href="{% url 'oars_website.views.pre_reg_accept' course.id %}">Accept</a></td>
				<td><a href="{% url 'oars_website.views.pre_reg_reject' course.id %}">Reject</a></td>				
			{% endif %}
			</tr>
		{% endfor %}
	</table>
	
{% endblock %}


